#calendar {
	background-color: #fafafa;
	border-color: #fafafa;
}

#topbar {
	border-color: #cbd0ce;
}

.cal_td_header {
	background-color: #dfe3e0;
	border-color: #dfe3e0;
}

.cal_td_day {
	background-color: #eeeeee;
	border-color: #eeeeee;
}

.cal_day_today {
	background-color: #eeeeee;
	border: 1px solid rgba(160,57,26,1);
}

.cal_day_dynamic {
	background-color: rgb(200,200,200);
}

.cal_tr_year
{
	color:  #AAAAAA;
}