html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body {
	font-family: -apple-system;
	margin: 0px 0px 0px 0px;
	cursor: default;
	font-size: 100%;
	overflow: hidden;
}

table { 
    border-spacing: 2px;
    border-collapse: separate;
}

#calendar {
	width: 750px;
	height: 500px;
	overflow: auto;
	position: absolute;
	top: 35px;
	left: 0px;
	padding: 3px;
	border-radius: 0px;
	font-size: 10px;
	border: none;
	text-align: center;
}

#topbar {
	position: absolute;
	width: 748px;
	top: 10px;
	left: 10px;
	
	padding-top: 0px;
	padding-bottom: 5px;
	height: 30px;
	
	border: 0px solid;

	margin-bottom: -1px;
	
	text-align: center;
	font-weight: 600;
	
	z-index: 1;
}

.cal_month {
	display: table-cell;
	vertical-align: top;
	text-align: center;

}

.cal_td_header {
	
	font-size: 12px;
	padding: 3px;
	border-radius: 0px;
	text-align: center;
	border: 1px solid;
	font-weight: 400;

	position: relative;
}

.cal_td_dayname, .cal_td_weeknames, .cal_td_day, .cal_td_weeknumber, .cal_day_chosen, .cal_subday_chosen {
	width: 16px;
	height: 9px;
	font-size: 10px;
	text-align: right;
	border: 1px solid rgba(255,255,255,0);
	margin: 2px;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.cal_tr_monthname
{

}


.cal_tr_year
{
	position: absolute;
	top: 3px;
	right: 5px;
}

.cal_td_dayname, .cal_td_weeknames {
	text-align: right;
}

.cal_td_weeknumber{
	text-align: right;
}

.cal_td_day, .cal_subday_chosen, .cal_day_chosen {
	border-width: 1px;
	/*width: 16px;*/
	overflow-x: hidden;
	/*border-radius: 0px;*/
}

.cal_day_today {
	background-color: #eeeeee;
	border: 1px solid rgba(160,57,26,1);
}


.cal_day_dynamic {
	background-color: rgb(200,200,200);
}

.yearlink {
	cursor: pointer;
	color: rgb(200,200,200);
	margin-left: 7px;
	margin-right: 8px;
	font-weight: normal;
	font-size: 12pt;
}

.yearlink:hover {
	text-decoration: underline;
}

.thisyear {
	color: rgb(0,0,0);
}

.thisyearhalf {
	color:  rgba(0,0,0,0.85);
}

.thisyearthird {
	color:  rgba(0,0,0,0.7);
}